@model Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Servis Ekleme Sayfası</h5>
        </div>
        <form method="post">
            <br>
            <label class="form-label">Başlık</label>
            <br />
            <input type="text" class="form-control" asp-for="Title" />
            <br />
            <label class="form-label">Açıklama</label>
            <br />
            <input type="text" class="form-control" asp-for="Description" />
            <br />
            <label class="form-label">İkon Url</label>
            <br />
            <input type="text" class="form-control" asp-for="Icon" />
            <br />
            <label class="form-label">Resim Url</label>
            <br />
            <input type="text" class="form-control" asp-for="ImageUrl" />
            <br />
            <button class="btn btn-outline-primary">Servisi Ekle</button>
        </form>
    </div>
</div>
