@model AboutItem
@{
    ViewData["Title"] = "AddAboutItem";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Yeni Hakkımızda İtemi Ekleme Sayfası</h5>
        </div>
        <form method="post">
            <br>
            <label class="form-label">İçerik Adı</label>
            <br />
            <input type="text" class="form-control" asp-for="Detail" />
            <br />
            <button class="btn btn-outline-primary">İçeriği Ekle</button>
        </form>
    </div>
</div>
