<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Snacked</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <ul class="metismenu" id="menu">
        <li>
            <a href="/Default/Index/">
                <div class="parent-icon"><i class="bi bi-arrow-left-circle-fill"></i></div>
                <div class="menu-title">Siteye Dön</div>
            </a>
        </li>
        <li>
            <a href="/Dashboard/Index/">
                <div class="parent-icon"><i class="bi bi-bar-chart-line-fill"></i></div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="/Chat/ChatWithAI/">
                <div class="parent-icon"><i class="bi bi-robot"></i></div>
                <div class="menu-title">Canlı AI Chat</div>
            </a>
        </li>
        <li>
            <a href="/Forecast/Index/">
                <div class="parent-icon"><i class="bi bi-graph-up"></i></div>
                <div class="menu-title">Poliçe Tahminlemeleri</div>
            </a>
        </li>
        <li>
            <a href="/PolicyAnalysis/PdfAnalyze/">
                <div class="parent-icon"><i class="bi bi-file-earmark-pdf-fill"></i></div>
                <div class="menu-title">Pdf Analizi</div>
            </a>
        </li>
        <li>
            <a href="/ElevenLabsAI/SpeakInsuranceAnswerNew/">
                <div class="parent-icon"><i class="bi bi-volume-up-fill"></i></div>
                <div class="menu-title">Metin Seslendirme</div>
            </a>
        </li>
        <li>
            <a href="/Tavily/Search/">
                <div class="parent-icon"><i class="bi bi-globe"></i></div>
                <div class="menu-title">Webde Arama</div>
            </a>
        </li>
        <li>
            <a href="/ImageAI/CreateImageWithOpenAI/">
                <div class="parent-icon"><i class="bi bi-brush-fill"></i></div>
                <div class="menu-title">OpenAI ile Görsel Oluşturma</div>
            </a>
        </li>

        <hr>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-file-earmark-text-fill"></i></div>
                <div class="menu-title">Makaleler</div>
            </a>
            <ul>
                <li><a href="/Article/ArticleList/"><i class="bi bi-files"></i>Tüm Makaleler</a></li>
                <li><a href="/Article/CreateArticleWithOpenAI/"><i class="bi bi-pencil-square"></i>AI ile Makale Oluştur</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-info-circle-fill"></i></div>
                <div class="menu-title">Hakkımızda</div>
            </a>
            <ul>
                <li><a href="/About/AboutList/"><i class="bi bi-file-text"></i>Hakkımızda Bilgisi</a></li>
                <li><a href="/AboutItem/AboutItemList/"><i class="bi bi-grid-1x2-fill"></i>Hakkımızda İtemleri Bilgisi</a></li>
                <li><a href="/About/CreateAboutWithGemini/"><i class="bi bi-pencil"></i>AI ile Hakkımızda Bilgisi</a></li>
                <li><a href="/AboutItem/CreateAboutItemWithGemini/"><i class="bi bi-plus-square"></i>AI ile Hakkımızda İtemleri</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-gear-fill"></i></div>
                <div class="menu-title">Hizmetler</div>
            </a>
            <ul>
                <li><a href="/Service/ServiceList/"><i class="bi bi-kanban-fill"></i>Hizmet Listesi</a></li>
                <li><a href="/Service/CreateServiceWithAnthropicClaude/"><i class="bi bi-plus-circle"></i>AI Hizmet Örnekleri</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-award-fill"></i></div>
                <div class="menu-title">Referanslar</div>
            </a>
            <ul>
                <li><a href="/Testimonial/TestimonialList/"><i class="bi bi-chat-quote"></i>Referanslarımız</a></li>
                <li><a href="/Testimonial/CreateTestimonialWithClaudeAI/"><i class="bi bi-magic"></i>AI Yorum Ekleme</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bi bi-credit-card-fill"></i></div>
                <div class="menu-title">Ödeme Planları</div>
            </a>
            <ul>
                <li><a href="/PricingPlan/PricingPlanList/"><i class="bi bi-list-check"></i>Tüm Planlar</a></li>
                <li><a href="/PricingPlan/CreateUserCustomizePlan/"><i class="bi bi-graph-up-arrow"></i>AI Destekli Plan Önerisi</a></li>
            </ul>
        </li>


        <hr>
        
        <li>
            <a href="/AppUser/UserList/">
                <div class="parent-icon"><i class="bi bi-person-lines-fill"></i></div>
                <div class="menu-title">Kullanıcı Listesi</div>
            </a>
        </li>
        <li>
            <a href="/Category/CategoryList/">
                <div class="parent-icon"><i class="bi bi-tags-fill"></i></div>
                <div class="menu-title">Kategoriler</div>
            </a>
        </li>
        <li>
            <a href="/Slider/SliderList/">
                <div class="parent-icon"><i class="bi bi-images"></i></div>
                <div class="menu-title">Slider Alanı</div>
            </a>
        </li>
        <li>
            <a href="/Message/MessageList/">
                <div class="parent-icon"><i class="bi bi-envelope-open-fill"></i></div>
                <div class="menu-title">Mesajlar</div>
            </a>
        </li>
        <li>
            <a href="/Comment/CommentList/">
                <div class="parent-icon"><i class="bi bi-chat-dots-fill"></i></div>
                <div class="menu-title">Yorumlar</div>
            </a>
        </li>
        <li>
            <a href="/Contact/ContactList/">
                <div class="parent-icon"><i class="bi bi-telephone-fill"></i></div>
                <div class="menu-title">İletişim Bilgileri</div>
            </a>
        </li>
        <li>
            <a href="/TrailerVideo/TrailerVideoList/">
                <div class="parent-icon"><i class="bi bi-play-btn-fill"></i></div>
                <div class="menu-title">Tanıtım Videosu</div>
            </a>
        </li>
    </ul>

</aside>