<div class="row row-cols-1 row-cols-lg-3">
    @await Component.InvokeAsync("_DashboardSubChart1ComponentPartial")
    @await Component.InvokeAsync("_DashboardSubChart2ComponentPartial")
    @await Component.InvokeAsync("_DashboardSubChart3ComponentPartial")


</div>